*{
    background-color: beige;
}

.header{
    display: flex;
    position: sticky;
    background: darkgray;
    min-height: 15vh;
    height: 50px;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    margin: 0;
}


ul {
    background-color: rgb(32, 103, 148);
    bottom: 0;
    justify-content:fullscreen;
    border-radius: 50px;
    bookmark: black;
}

.card {
    justify-items:first baseline;    
    padding:130px;  
    height: 30px;   
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    margin: 50px;
    width: 450px;
    min-height: 30vh;
    justify-content: center;
    margin-left: 25%;

}

.nav {
        display: flex;
        position: static;
        background: darkgray;
        max-height: 100vh;
        height: 50px;
        justify-content: space-evenly;
        align-items: flex-end;
        padding: 10px;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
    
}
